/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-button {
    @apply text-my-font-size-label-large font-medium px-[1.5em] py-[0.8em] rounded-full flex items-center justify-center space-x-[0.5em];
  }

  .my-button-icon-left {
    @apply pl-[1em];
  }

  .my-button-icon-right {
    @apply pr-[1em];
  }

  /***ELEVATED BUTTON***/
  .my-button-elevated {
    @apply bg-my-color-surface text-my-color-primary shadow-md hover:my-button-elevated-hover active:my-button-elevated-active focus:my-button-elevated-active focus:hover:bg-my-color-surface;
  }
  .my-button-elevated-primary {
    @apply bg-my-color-primary text-my-color-on-primary shadow-md hover:my-button-elevated-primary-hover active:my-button-elevated-primary-active focus:my-button-elevated-primary-active focus:hover:bg-my-color-primary;
  }
  .my-button-elevated-secondary {
    @apply bg-my-color-secondary text-my-color-on-secondary shadow-md hover:my-button-elevated-secondary-hover active:my-button-elevated-secondary-active focus:my-button-elevated-secondary-active focus:hover:bg-my-color-secondary;
  }
  .my-button-elevated-tertiary {
    @apply bg-my-color-tertiary text-my-color-on-tertiary shadow-md hover:my-button-elevated-tertiary-hover active:my-button-elevated-tertiary-active focus:my-button-elevated-tertiary-active focus:hover:bg-my-color-tertiary;
  }
  .my-button-elevated-error {
    @apply bg-my-color-error text-my-color-on-error shadow-md hover:my-button-elevated-error-hover active:my-button-elevated-error-active focus:my-button-elevated-error-active focus:hover:bg-my-color-error;
  }
  /*DISABLED*/
  .my-button-elevated-disabled {
    @apply bg-my-color-on-surface/20  text-my-color-on-surface/30;
  }
  .my-button-elevated-primary-disabled {
    @apply bg-my-color-primary/30 text-my-color-on-primary/50;
  }
  .my-button-elevated-secondary-disabled {
    @apply bg-my-color-secondary/30 text-my-color-on-secondary/50;
  }
  .my-button-elevated-tertiary-disabled {
    @apply bg-my-color-tertiary/30 text-my-color-on-tertiary/50;
  }
  .my-button-elevated-error-disabled {
    @apply bg-my-color-error/30 text-my-color-on-error/50;
  }
  /*HOVER*/
  .my-button-elevated-hover {
    @apply bg-my-color-surface/70 text-my-color-primary shadow-lg transition-all duration-200 delay-75 ease-in-out;
  }
  .my-button-elevated-primary-hover {
    @apply bg-my-color-primary/70 text-my-color-on-primary shadow-lg transition-all duration-200 delay-75 ease-in-out;
  }
  .my-button-elevated-secondary-hover {
    @apply bg-my-color-secondary/70 text-my-color-on-secondary shadow-lg transition-all duration-200 delay-75 ease-in-out;
  }
  .my-button-elevated-tertiary-hover {
    @apply bg-my-color-tertiary/70 text-my-color-on-tertiary shadow-lg transition-all duration-200 delay-75 ease-in-out;
  }
  .my-button-elevated-error-hover {
    @apply bg-my-color-error/70 text-my-color-on-error shadow-lg transition-all duration-200 delay-75 ease-in-out;
  }

  /*ACTIVE*/
  .my-button-elevated-active {
    @apply bg-my-color-surface/70 text-my-color-primary shadow ring-4 ring-offset-2 ring-my-color-surface;
  }
  .my-button-elevated-primary-active {
    @apply bg-my-color-primary/70 text-my-color-on-primary shadow ring-4 ring-offset-2 ring-my-color-primary;
  }
  .my-button-elevated-secondary-active {
    @apply bg-my-color-secondary/70 text-my-color-on-secondary shadow ring-4 ring-offset-2 ring-my-color-secondary;
  }
  .my-button-elevated-tertiary-active {
    @apply bg-my-color-tertiary/70 text-my-color-on-tertiary shadow ring-4 ring-offset-2 ring-my-color-tertiary;
  }
  .my-button-elevated-error-active {
    @apply bg-my-color-error/70 text-my-color-on-error shadow ring-4 ring-offset-2 ring-my-color-error;
  }
  /***END ELEVATED BUTTON***/

  /*FILLED TONAL BUTTON*/
  .my-button-filled-tonal {
    @apply bg-my-color-inverse-surface text-my-color-on-inverse-surface shadow-md;
  }
  .my-button-filled-tonal-primary {
    @apply bg-my-color-primary-container text-my-color-on-primary-container shadow-md;
  }
  .my-button-filled-tonal-secondary {
    @apply bg-my-color-secondary-container text-my-color-on-secondary-container shadow-md;
  }
  .my-button-filled-tonal-tertiary {
    @apply bg-my-color-tertiary-container text-my-color-on-tertiary-container shadow-md;
  }
  .my-button-filled-tonal-error {
    @apply bg-my-color-error-container text-my-color-on-error-container shadow-md;
  }

  /*TEXT BUTTON*/
  .my-button-text {
    @apply text-my-color-on-surface;
  }
  .my-button-text-primary {
    @apply text-my-color-primary;
  }
  .my-button-text-secondary {
    @apply text-my-color-secondary;
  }
  .my-button-text-tertiary {
    @apply text-my-color-tertiary;
  }
  .my-button-text-error {
    @apply text-my-color-error;
  }

  /*FILLED BUTTON*/

  .my-button-filled {
    @apply bg-my-color-surface text-my-color-on-surface;
  }
  .my-button-filled-primary {
    @apply bg-my-color-primary text-my-color-on-primary;
  }
  .my-button-filled-secondary {
    @apply bg-my-color-secondary text-my-color-on-secondary;
  }
  .my-button-filled-tertiary {
    @apply bg-my-color-tertiary text-my-color-on-tertiary;
  }
  .my-button-filled-error {
    @apply bg-my-color-error text-my-color-on-error;
  }

  /*OUTLINED BUTTON*/
  .my-button-outlined {
    @apply border-[0.1em] border-my-color-on-surface text-my-color-on-surface;
  }
  .my-button-outlined-primary {
    @apply border-[0.1em] border-my-color-primary text-my-color-primary;
  }
  .my-button-outlined-secondary {
    @apply border-[0.1em]  border-my-color-secondary text-my-color-secondary;
  }
  .my-button-outlined-tertiary {
    @apply border-[0.1em]  border-my-color-tertiary text-my-color-tertiary;
  }
  .my-button-outlined-error {
    @apply border-[0.1em]  border-my-color-error text-my-color-error;
  }
}

@layer base {
  :root {
    /*** COLOR SYSTEM ***/

    /* 
      GLOBAL COLOR SETUP (HSL)
      Set the global colors below using HSL variables.
      */
    --primary-key-h: 203;
    --primary-key-s: 80%;
    --primary-key-l: 48%;

    --secondary-key-h: 173;
    --secondary-key-s: 80%;
    --secondary-key-l: 40%;

    --tertiary-key-h: 309;
    --tertiary-key-s: 80%;
    --tertiary-key-l: 41%;

    --neutral-key-h: 203;
    --neutral-key-s: 10%;
    --neutral-key-l: 37%;
    --neutral-key-a: 0.3;

    --neutral-variant-key-h: 173;
    --neutral-variant-key-s: 10%;
    --neutral-variant-key-l: 38%;

    --error-key-h: 3;
    --error-key-s: 80%;
    --error-key-l: 41%;

    /* 
      SHADING VARIABLES
      If you want to adjust the generated shade variants, you can adjust the percentages here.
      Higher percentages are lighter and lower are darker.
      */

    --tone-0: 0%;
    --tone-10: 10%;
    --tone-20: 20%;
    --tone-30: 30%;
    --tone-40: 40%;
    --tone-50: 50%;
    --tone-60: 60%;
    --tone-70: 70%;
    --tone-80: 80%;
    --tone-90: 90%;
    --tone-95: 95%;
    --tone-99: 99%;
    --tone-100: 100%;

    /* 
      GLOBAL COLOR VARIABLES
      These are the variables you can use in styling. They don't need to be edited.
      Future plans: Auto generate full complimentary, triadic, analogous, etc. color schemes.
      */

    /*Primary*/
    --primary: var(--primary-40);
    --on-primary: var(--primary-100);
    --primary-container: var(--primary-90);
    --on-primary-container: var(--primary-10);
    --inverse-primary: var(--primary-80);

    --primary-dark: var(--primary-80);
    --on-primary-dark: var(--primary-20);
    --primary-container-dark: var(--primary-30);
    --on-primary-container-dark: var(--primary-90);
    --inverse-primary-dark: var(--primary-40);

    --primary-0: hsl(var(--primary-key-h), var(--primary-key-s), var(--tone-0));
    --primary-10: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-10)
    );
    --primary-20: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-20)
    );
    --primary-30: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-30)
    );
    --primary-40: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-40)
    );
    --primary-50: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-50)
    );
    --primary-60: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-60)
    );
    --primary-70: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-70)
    );
    --primary-80: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-80)
    );
    --primary-90: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-90)
    );
    --primary-95: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-95)
    );
    --primary-99: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-99)
    );
    --primary-100: hsl(
      var(--primary-key-h),
      var(--primary-key-s),
      var(--tone-100)
    );

    /*Secondary*/
    --secondary: var(--secondary-40);
    --on-secondary: var(--secondary-100);
    --secondary-container: var(--secondary-90);
    --on-secondary-container: var(--secondary-10);

    --secondary-dark: var(--secondary-80);
    --on-secondary-dark: var(--secondary-20);
    --secondary-container-dark: var(--secondary-30);
    --on-secondary-container-dark: var(--secondary-90);

    --secondary-0: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-0)
    );
    --secondary-10: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-10)
    );
    --secondary-20: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-20)
    );
    --secondary-30: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-30)
    );
    --secondary-40: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-40)
    );
    --secondary-50: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-50)
    );
    --secondary-60: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-60)
    );
    --secondary-70: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-70)
    );
    --secondary-80: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-80)
    );
    --secondary-90: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-90)
    );
    --secondary-95: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-95)
    );
    --secondary-99: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-99)
    );
    --secondary-100: hsl(
      var(--secondary-key-h),
      var(--secondary-key-s),
      var(--tone-100)
    );

    /*Tertiary*/
    --tertiary: var(--tertiary-40);
    --on-tertiary: var(--tertiary-100);
    --tertiary-container: var(--tertiary-90);
    --on-tertiary-container: var(--tertiary-10);

    --tertiary-dark: var(--tertiary-80);
    --on-tertiary-dark: var(--tertiary-20);
    --tertiary-container-dark: var(--tertiary-30);
    --on-tertiary-container-dark: var(--tertiary-90);

    --tertiary-0: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-0)
    );
    --tertiary-10: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-10)
    );
    --tertiary-20: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-20)
    );
    --tertiary-30: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-30)
    );
    --tertiary-40: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-40)
    );
    --tertiary-50: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-50)
    );
    --tertiary-60: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-60)
    );
    --tertiary-70: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-70)
    );
    --tertiary-80: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-80)
    );
    --tertiary-90: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-90)
    );
    --tertiary-95: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-95)
    );
    --tertiary-99: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-99)
    );
    --tertiary-100: hsl(
      var(--tertiary-key-h),
      var(--tertiary-key-s),
      var(--tone-100)
    );

    /*Neutral*/
    --background: var(--neutral-99);
    --on-background: var(--neutral-10);
    --surface: var(--neutral-99);
    --on-surface: var(--neutral-10);
    --shadow: var(--neutral-0);
    --inverse-surface: var(--neutral-20);
    --on-inverse-surface: var(--neutral-95);

    --background-dark: var(--neutral-10);
    --on-background-dark: var(--neutral-90);
    --surface-dark: var(--neutral-10);
    --on-surface-dark: var(--neutral-90);
    --shadow-dark: var(--neutral-0);
    --inverse-surface-dark: var(--neutral-90);
    --on-inverse-surface-dark: var(--neutral-20);

    --neutral-0: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-0),
      var(--neutral-key-a)
    );
    --neutral-10: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-10),
      var(--neutral-key-a)
    );
    --neutral-20: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-20),
      var(--neutral-key-a)
    );
    --neutral-30: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-30),
      var(--neutral-key-a)
    );
    --neutral-40: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-40),
      var(--neutral-key-a)
    );
    --neutral-50: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-50),
      var(--neutral-key-a)
    );
    --neutral-60: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-60),
      var(--neutral-key-a)
    );
    --neutral-70: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-70),
      var(--neutral-key-a)
    );
    --neutral-80: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-80),
      var(--neutral-key-a)
    );
    --neutral-90: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-90),
      var(--neutral-key-a)
    );
    --neutral-95: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-95),
      var(--neutral-key-a)
    );
    --neutral-99: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-99),
      var(--neutral-key-a)
    );
    --neutral-100: hsla(
      var(--neutral-key-h),
      var(--neutral-key-s),
      var(--tone-100),
      var(--neutral-key-a)
    );

    /*Neutral Variant*/
    --surface-variant: var(--neutral-variant-90);
    --on-surface-variant: var(--neutral-variant-30);
    --outline: var(--neutral-variant-50);

    --surface-variant-dark: var(--neutral-variant-30);
    --on-surface-variant-dark: var(--neutral-variant-80);
    --outline-dark: var(--neutral-variant-60);

    --neutral-variant-0: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-0)
    );
    --neutral-variant-10: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-10)
    );
    --neutral-variant-20: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-20)
    );
    --neutral-variant-30: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-30)
    );
    --neutral-variant-40: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-40)
    );
    --neutral-variant-50: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-50)
    );
    --neutral-variant-60: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-60)
    );
    --neutral-variant-70: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-70)
    );
    --neutral-variant-80: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-80)
    );
    --neutral-variant-90: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-90)
    );
    --neutral-variant-95: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-95)
    );
    --neutral-variant-99: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-99)
    );
    --neutral-variant-100: hsl(
      var(--neutral-variant-key-h),
      var(--neutral-variant-key-s),
      var(--tone-100)
    );

    /*Error*/
    --error: var(--error-40);
    --on-error: var(--error-100);
    --error-container: var(--error-90);
    --on-error-container: var(--error-10);

    --error-dark: var(--error-80);
    --on-error-dark: var(--error-20);
    --error-container-dark: var(--error-30);
    --on-error-container-dark: var(--error-90);

    --error-0: hsl(var(--error-key-h), var(--error-key-s), var(--tone-0));
    --error-10: hsl(var(--error-key-h), var(--error-key-s), var(--tone-10));
    --error-20: hsl(var(--error-key-h), var(--error-key-s), var(--tone-20));
    --error-30: hsl(var(--error-key-h), var(--error-key-s), var(--tone-30));
    --error-40: hsl(var(--error-key-h), var(--error-key-s), var(--tone-40));
    --error-50: hsl(var(--error-key-h), var(--error-key-s), var(--tone-50));
    --error-60: hsl(var(--error-key-h), var(--error-key-s), var(--tone-60));
    --error-70: hsl(var(--error-key-h), var(--error-key-s), var(--tone-70));
    --error-80: hsl(var(--error-key-h), var(--error-key-s), var(--tone-80));
    --error-90: hsl(var(--error-key-h), var(--error-key-s), var(--tone-90));
    --error-95: hsl(var(--error-key-h), var(--error-key-s), var(--tone-95));
    --error-99: hsl(var(--error-key-h), var(--error-key-s), var(--tone-99));
    --error-100: hsl(var(--error-key-h), var(--error-key-s), var(--tone-100));

    /*** END COLOR SYSTEM ***/

    /**FONT SIZE**/
    --font-display-large: clamp(
      3.563rem,
      calc(3.563rem + ((1vw - 0.2rem) * 2.312)),
      5.875rem
    );

    --font-display-medium: clamp(
      2.813rem,
      calc(2.813rem + ((1vw - 0.2rem) * 2.25)),
      5.063rem
    );

    --font-display-small: clamp(
      2.25rem,
      calc(2.25rem + ((1vw - 0.2rem) * 2.25)),
      4.5rem
    );

    --font-headline-large: clamp(2rem, calc(2rem + ((1vw - 0.2rem) * 2)), 4rem);

    --font-headline-medium: clamp(
      1.75rem,
      calc(1.75rem + ((1vw - 0.2rem) * 1.813)),
      3.563rem
    );

    --font-headline-small: clamp(
      1.5rem,
      calc(1.5rem + ((1vw - 0.2rem) * 0.25)),
      1.75rem
    );

    --font-title-large: clamp(
      1.375rem,
      calc(1.375rem + ((1vw - 0.2rem) * 0.125)),
      1.5rem
    );

    --font-title-medium: clamp(
      1rem,
      calc(1rem + ((1vw - 0.2rem) * 0.125)),
      1.125rem
    );

    --font-title-small: clamp(
      0.875rem,
      calc(0.875rem + ((1vw - 0.2rem) * 0.125)),
      1rem
    );

    --font-label-large: clamp(
      0.875rem,
      calc(0.875rem + ((1vw - 0.2rem) * 0.125)),
      1rem
    );

    --font-label-medium: clamp(
      0.75rem,
      calc(0.75rem + ((1vw - 0.2rem) * 0.125)),
      0.875rem
    );

    --font-label-small: clamp(
      0.688rem,
      calc(0.688rem + ((1vw - 0.2rem) * 0.062)),
      0.75rem
    );

    --font-body-large: clamp(
      1rem,
      calc(1rem + ((1vw - 0.2rem) * 0.125)),
      1.125rem
    );

    --font-body-medium: clamp(
      0.875rem,
      calc(0.875rem + ((1vw - 0.2rem) * 0.125)),
      1rem
    );

    --font-body-small: clamp(
      0.75rem,
      calc(0.75rem + ((1vw - 0.2rem) * 0.125)),
      0.875rem
    );
    /*** END FONTS SIZE SYSTEM ***/

    /*****LINE HEIGHT*****/
    --line-height-display-large: clamp(
      3.563rem,
      calc(3.563rem + ((1vw - 0.2rem) * 3.312)),
      6.875rem
    );
    --line-height-display-medium: clamp(
      3.25rem,
      calc(3.25rem + ((1vw - 0.2rem) * 1.875)),
      5.125rem
    );
    --line-height-display-small: clamp(
      2.75rem,
      calc(2.75rem + ((1vw - 0.2rem) * 1.75)),
      4.5rem
    );

    --line-height-headline-large: clamp(
      2.5rem,
      calc(2.5rem + ((1vw - 0.2rem) * 1.5)),
      4rem
    );
    --line-height-headline-medium: clamp(
      2.25rem,
      calc(2.25rem + ((1vw - 0.2rem) * 1.313)),
      3.563rem
    );
    --line-height-headline-small: clamp(
      2rem,
      calc(2rem + ((1vw - 0.2rem) * 0.375)),
      2.375rem
    );

    --line-height-title-large: clamp(
      1.75rem,
      calc(1.75rem + ((1vw - 0.2rem) * 0.25)),
      2rem
    );
    --line-height-title-medium: clamp(
      1.5rem,
      calc(1.5rem + ((1vw - 0.2rem) * 0.25)),
      1.75rem
    );
    --line-height-title-small: clamp(
      1.25rem,
      calc(1.25rem + ((1vw - 0.2rem) * 0.125)),
      1.375rem
    );

    --line-height-label-large: clamp(
      1.25rem,
      calc(1.25rem + ((1vw - 0.2rem) * 0.125)),
      1.375rem
    );
    --line-height-label-medium: clamp(
      1rem,
      calc(1rem + ((1vw - 0.2rem) * 0.125)),
      1.125rem
    );
    --line-height-label-small: clamp(
      1rem,
      calc(1rem + ((1vw - 0.2rem) * 0.125)),
      1.125rem
    );

    --line-height-body-large: clamp(
      1.5rem,
      calc(1.5rem + ((1vw - 0.2rem) * 0.25)),
      1.75rem
    );
    --line-height-body-medium: clamp(
      1.25rem,
      calc(1.25rem + ((1vw - 0.2rem) * 0.125)),
      1.375rem
    );
    --line-height-body-small: clamp(
      1rem,
      calc(1rem + ((1vw - 0.2rem) * 0.125)),
      1.125rem
    );
  }
}
